<hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>About The Website</h3><br>
    <img src="/w3images/chef.jpg" alt="" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>ENJOY YOUR TIME WITH US</b></h4>
      <h6><i>LET'S WATCH AND DOWNLOAD FILMS</i></h6>
      <p>Infuse your life with action. Don’t wait for it to happen. Make it happen. Make your own future.
          Make your own hope. Make your own love. And whatever your beliefs, honor your creator, not
          by passively waiting for grace to come down from upon high, but by doing what you can to
          make grace happen… yourself, right now, right down here on Earth.</p>
    </div>
  </div>
  <hr>