<html>
<head>  
<% include partials/head.ejs %></head>
<body>
<% include partials/header.ejs %>
<center>
<img src='/images/whale.png' style="width:1200px;height:600px;">
</center>
<% include partials/footer.ejs %>
</div>
<% include partials/jsdefaults.ejs %>